hr{
    width: 60%;
    background-color: silver;
    display: flex;
    margin-left: 12%;
}

table{
    margin-left: 10%;
}

th{
    width: 200px;
}

h3{
    text-align: left;
    margin-left: 15%;
}

.total {
    margin-top: 20px;
}

.buy-button {
  background-color: lightblue;
  height: 50px;
  width: 100px;
  border-color: transparent;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  float: right;
  margin-right: 10%;
  margin-top: -45px;
}
