<div class="container">

  <div class="image">
    <img src="../../assets/images/user-solid.svg" />
  </div>
  <form>
    <div class="username">
      <label>
        <div>Username:</div>
        <input type="text" placeholder="Enter username..." formControlName="username" class="input-user" />
      </label>
    </div>

    <div class="password">
      <label>
        <div>Password:</div>
        <input type="password" placeholder="Enter password..." formControlName="password" class="input-pass"/>
      </label>
    </div>

    <div class="remember">
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="bottons">
      <button class="cancel" type="submit">Cancel</button>
      <button class="login" type="submit">Login</button>
    </div>

  </form>
</div>
