<div class="container">
  <div class="form">
    <form>
      <div class="book">
        <div>
          <label>
            <span class="title"> Title: </span>
            <input />
          </label>
        </div>
        <div>
          <label>
            <span class="text-style"> Author: </span>
            <input />
          </label>
        </div>
        <div>
          <label>
            <span class="text-style"> Genre: </span>
            <input />
          </label>
        </div>
        <div>
          <label>
            <span class="text-style"> Publisher: </span>
            <input />
          </label>
        </div>
        <div>
          <label>
            <span class="text-style"> Year: </span>
            <input />
          </label>
        </div>
        <div>
          <label>
            <span class="text-style"> Price: </span>
            <input />
          </label>
        </div>
        <div>
          <label>
            <div class="description"> Description: </div>
            <textarea></textarea>
          </label>
        </div>

        <div>
          <div class="save-heart">
            <img src="../../../assets/images/heart-regular.svg" />
          </div>
          <div class="save">
            <button class="save-button"> Save </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

