.container {
  width: 100%;
  height: 100%;
  margin-left: 27%;
}

.book {
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
}

.title{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
 
}

.text-style {
  font-size: 20px;
  margin-top: 10px;
}

.description {
  font-size: 15px;
  margin-top: 10px;
  font-weight: bold;
}

input{
    border-color: transparent;
    float: right;
    margin-right: 60%;
    width: 400px;
}

textarea{
    border-color: transparent;
    width: 40%;
    height: 200px;
    margin-top: 10px;
}

.save-heart {
  width: 25px;
  height: 25px;
  margin-left: 800px;
}

.save-button {
  border-color: transparent;
  height: 30px;
  font-family: Montserrat;
  font-weight: bold;
  background-color: lightblue;
  margin-top: 10px;
  width: 40.5%;
}
