<div class="container">
  <div class="row">
    <div class="book">
      <div class="info">
        <div class="title"> Title </div>
        <div class="author"> Author </div>
        <div class="genre"> Genre </div>
        <div class="publisher">Publisher | Anno</div>
      </div>

      <div class="price"> Price </div>
      <div class="description"> Description: </div>
      <div>
        <div class="save">
          <img src="../../../assets/images/heart-regular.svg" />
        </div>
        <div class="buy">
          <button class="buy-button"> Buy </button>
        </div>
      </div>
    </div>
  </div>
</div>

