<div class="container">
  <h1>Manage Books</h1>
  <h4>Do you want to add a book?</h4>
  
  <div class="book-form">
    <form [formGroup]="formGroup">
      <div class="row">
        <div class="col-md-4 align-inputs">
          <label>
            Title:
            <input type="text" formControlName="title" placeholder="Enter title..." class="input" />
          </label>
        </div>
        <div class="col-md-4 align-inputs">
          <label>
            Author:
            <input type="text" formControlName="author" placeholder="Enter the author name..." class="input" />
          </label>
        </div>
        <div class="col-md-4 align-inputs">
          <label>
            Price:
            <input type="text" formControlName="price" placeholder="Enter the prize of the book..." class="input" />
          </label>
        </div>
        <div class="col-md-4 align-inputs">
          <label>
            Genre:
            <input type="text" formControlName="genre" placeholder="Enter the genre of the book..." class="input" />
            <p> (P.S. only: fiction, mystery, thriller, horror, historical, <br /> romance, western, science fiction, fantasy, poetry ) </p>
          </label>          
        </div>
        <div class="col-md-4 align-inputs">
          <label>
            Release:
            <input type="text" formControlName="publish_Year" placeholder="Enter when the book was release..." class="input" />
          </label>
        </div>
        <div class="col-md-4 align-inputs">
          <label>
            Publisher:
            <input type="text" formControlName="publisher" placeholder="Enter the name of the publisher..." class="input" />
          </label>
        </div>
        <div class="col-md-4 align-inputs">
          <label>
            Description:
            <input type="text" formControlName="description" placeholder="Enter the description of the book..." class="input" />
          </label>
        </div>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary cancel-book" (click)="cancel($event)">Cancel</button>
        <button class="btn btn-primary save-book" (click)="save($event)">Save</button>
      </div>
    </form>
  </div>
</div>
