<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <div class="container">
    <!--Titolo-->
    <div class="header">
      <!--Nav-->
      <div>
        <nav></nav>

        <div class="icon">
          <!--utente-->
          <div class="user">
            <a [routerLink]="['/login']"><img src="../../../assets/images/user-solid.svg" /></a>
          </div>
          <!--salvati-->
          <!--<div class="saved">
            <a><img src="../../../assets/images/heart-solid.svg" /></a>
          </div>-->
        </div>
      </div>

      <div class="main">
        <div class="title">
          <h1>BOOKSHELF</h1>
        </div>

        <!--Searchbar-->
        <!--<div class="searchbar">
          <form>-->
            <!--text imput-->
            <!--<input type="text" placeholder="Search a book" class="search" #filter />-->
            <!--Button for search-->
            <!--<button class="search-button" type="button" (click)="filterResult()"> </button>
          </form>
        </div>-->

        <!--<section>
          <books></books>
        </section>-->


        <div class="right-menu">
          <!-- <search-input (onSearch)="onChangeSearchText($event)"></search-input> -->
        </div>


      </div>
    </div>

    <!--Page-->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
</html>
