<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <div class="container">
    <div class="header">
      <div>
        <nav></nav>
        <div class="icon">
          <!--utente-->
          <div class="user">
            <a [routerLink]="['/login']"><img src="../../../assets/images/user-solid.svg" /></a>
          </div>
          <div class="book">
            <a [routerLink]="['/books']"><img src="../../../assets/images/book-solid.svg" /></a>
          </div>
          <div class="home">
            <a [routerLink]="['/welcome']"><img src="../../../assets/images/house-solid.svg" /></a>
          </div>
        </div>
      </div>

      <div class="main">
        <div class="title">
          <h1>BOOKSHELF</h1>
        </div>
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
</html>
