<div class="genre-nav">
  <ul>
    <li>
      <a>Fiction</a>
    </li>
    <li>
      <a>Mystery</a>
    </li>
    <li>
      <a>Thriller</a>
    </li>
    <li>
      <a>Horror</a>
    </li>
    <li>
      <a>Historical</a>
    </li>
    <li>
      <a>Romance</a>
    </li>
    <li>
      <a>Western</a>
    </li>
    <li>
      <a>Science Fiction</a>
    </li>
    <li>
      <a>Fantasy</a>
    </li>
    <li>
      <a>Poetry</a>
    </li>
  </ul>
</div>

<div>
  <table class="table">
    <tr>
      <th class="title">TITLE</th>
      <th class="author">AUTHOR</th>
      <th class="genre">GENRE</th>
      <th class="price">PRICE</th>
      <th class="publish-year">RELEASE YEAR</th>
      <th class="publisher">PUBLISHER</th>
    </tr>
    <hr />
    <tr *ngFor="let book of gridData">
      <td class="title-content">{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.genre}}</td>
      <td>{{book.price}} €</td>
      <td>{{book.publish_Year}}</td>
      <td>{{book.publisher}}</td>
    </tr>
  </table>
</div>
